/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/styles/score.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.score_score__P9JYE {
  display: flex;
  font-weight: 700;
  font-size: 27px;
  padding-top: 40px;
  margin: 0 auto;
  width: 100px;
  transform: translate(0, 100%);
  border-radius: calc(var(--pixel-size) * 0.75);
  color: var(--primary-text-color);
  font-size: calc(var(--pixel-size) * 1.5);
  line-height: calc(var(--pixel-size) * 3);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.score_score__number__USs0k {
  font-size: 48px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/styles/board.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.board_border__container__G_JE6{
  border: calc(var(--pixel-size) * 0.5) solid var(--secondary-background);
  border-radius: calc(var(--pixel-size) * 5);
  background: var(--secondary-background);
  margin: 0 auto;
  width: min-content;
  padding: 107px 86px 64px 86px;
}
.board_board__Y91Ia {
  position: relative;
  margin: 0 auto;
}

.board_grid__Xyu09 {
  display: flex;
  flex-wrap: wrap;
}

.board_cell__TvJ46 {
  width: calc(var(--pixel-size) * 8);
  height: calc(var(--pixel-size) * 8);
  margin: calc(var(--pixel-size) * 0.5);
  border-radius: calc(var(--pixel-size) * 0.5);
  background: var(--cell-background);
}

.board_tiles__d_b_A {
  position: absolute;
  z-index: 2;
  margin: calc(var(--pixel-size) * 0.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 512px) {
  .board_board__Y91Ia {
    width: calc(var(--pixel-size) * 12.5 * 4 + var(--pixel-size) * 10);
  }

  .board_grid__Xyu09 {
    border: calc(var(--pixel-size) * 1) solid rgba(0, 0, 0, 0);
  }

  .board_cell__TvJ46 {
    width: calc(var(--pixel-size) * 12.5);
    height: calc(var(--pixel-size) * 12.5);
    margin: calc(var(--pixel-size) * 1);
  }

  .board_tiles__d_b_A {
    margin: calc(var(--pixel-size) * 1);
  }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/styles/tile.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.tile_tile__76bhk {
  position: absolute;
  width: calc(var(--pixel-size) * 8);
  height: calc(var(--pixel-size) * 8);
  margin: calc(var(--pixel-size) * 0.5);
  border-radius: calc(var(--pixel-size) * 0.5);
  background: var(--tile-background);
  color: var(--primary-text-color);
  font-size: calc(var(--pixel-size) * 4);
  line-height: calc(var(--pixel-size) * 8);
  font-weight: bold;
  text-align: center;
  transition-property: left, top, transform;
  transition-duration: 200ms, 200ms, 100ms;
}

@media (min-width: 512px) {
  .tile_tile__76bhk {
    width: calc(var(--pixel-size) * 12.5);
    height: calc(var(--pixel-size) * 12.5);
    margin: calc(var(--pixel-size) * 1);
    font-size: calc(var(--pixel-size) * 6);
    line-height: calc(var(--pixel-size) * 12.5);
  }
}

/* -=-=-=- START OF TEXT COLOR -=-=-=- */
.tile_tile8__vfNXw,
.tile_tile16__rIlyP,
.tile_tile32__C1SK5,
.tile_tile64__Sfe4d,
.tile_tile128__IDdcD,
.tile_tile256__WlYPz,
.tile_tile512__3SbLb,
.tile_tile1024__Q8xiN,
.tile_tile2048__Zb4XQ,
.tile_tile4096__lQmmH,
.tile_tile8192__F0G_8 {
  color: var(--secondary-text-color);
}
/* -=-=-=-= END OF TEXT COLOR =-=-=-=- */

/* -=-=-=- START OF TEXT SIZE -=-=-=- */
.tile_tile128__IDdcD,
.tile_tile256__WlYPz,
.tile_tile512__3SbLb {
  font-size: calc(var(--pixel-size) * 3.25);
}

.tile_tile1024__Q8xiN,
.tile_tile2048__Zb4XQ,
.tile_tile4096__lQmmH,
.tile_tile8192__F0G_8 {
  font-size: calc(var(--pixel-size) * 2.75);
}

@media (min-width: 512px) {
  .tile_tile128__IDdcD,
  .tile_tile256__WlYPz,
  .tile_tile512__3SbLb {
    font-size: calc(var(--pixel-size) * 5.5);
  }

  .tile_tile1024__Q8xiN,
  .tile_tile2048__Zb4XQ,
  .tile_tile4096__lQmmH,
  .tile_tile8192__F0G_8 {
    font-size: calc(var(--pixel-size) * 4);
  }
}
/* -=-=-=-= END OF TEXT SIZE =-=-=-=- */

.tile_tile2__aHuPq {
  background:#fff;
  color: #000;
  box-shadow:
    0 0 30px 10px rgba(243, 215, 116, 0),
    inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.tile_tile4__INpgt {
  background: #f9d5ff;
  color: #000;
  box-shadow:
    0 0 30px 10px rgba(243, 215, 116, 0),
    inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.tile_tile8__vfNXw {
  background: #f4abff;
  color: #000;
}

.tile_tile16__rIlyP {
  background: #ee80ff;
  color: #000;
}

.tile_tile32__C1SK5 {
  background: #e750ff;
  color: #000;
}

.tile_tile64__Sfe4d {
  background: #ca00ea;
  color: #000;
}

.tile_tile128__IDdcD {
  background: #ab00c6;
  color: #000;
  box-shadow:
    0 0 30px 10px rgba(243, 215, 116, 0.2381),
    inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
}

.tile_tile256__WlYPz {
  background: #9f00b8;
  color: #D9D9D9;
  box-shadow:
    0 0 30px 10px rgba(243, 215, 116, 0.31746),
    inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
}

.tile_tile512__3SbLb {
  background: #830097;
  color: #D9D9D9;
  box-shadow:
    0 0 30px 10px rgba(243, 215, 116, 0.39683),
    inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
}

.tile_tile1024__Q8xiN {
  background: #6a007b;
  color: #D9D9D9;
  box-shadow:
    0 0 30px 10px rgba(243, 215, 116, 0.47619),
    inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
}

.tile_tile2048__Zb4XQ,
.tile_tile4096__lQmmH,
.tile_tile8192__F0G_8 {
  background: #590067;
  color: #D9D9D9;
  box-shadow:
    0 0 30px 10px rgba(243, 215, 116, 0.55556),
    inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
}

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/styles/user.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.user_container__1714G{
    width: 700px;
    height: 804px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    background-color: rgba(70, 71, 92, 0.9);
    margin: 0 auto;
    padding: 0;
    padding-bottom: 73px;
}

.user_regError__qxTjg {
   position: absolute;
   top: 80px;
   left: 200px;
   margin: 0;
   width: 320px;
   height: 27px;
   font-weight: 400;
   font-size: 14px;
   text-align: center;
   line-height: 20px;
   color: #f00;
}

.user_closeBtn__NoRIp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff00;
    transform: translate(1565%, 135%);
    border: none;
    box-shadow: none;
}

.user_main__logo__m0SKy{
    width: 200px;
    height: 200px;
    border-radius: 21px;
    margin: 0 auto;
    margin-top: 45px;
    
}
.user_img__user__FlJq9{
    width: 70px;
    height: 70px;
    border-radius: 21px;
    margin: 0 auto;
    margin-top: 15px;
}
.user_header__title__CZmRA{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: #595962;
    
}

.user_input__S5rbk{
    width: 183px;
    height: 41px;
    border-radius: 5px;
    background-color: #D9D9D9;
    border:1px solid rgba(0, 0, 0, 0);
    margin-bottom: 12px;
}

.user_title__EXNYj {
    font-size: 32px;
    font-weight: 600;
    color: #d9d9d9;
    margin-right: 12px;
}

.user_title__EXNYj:last-child{
    margin-right: 0;
}

.user_headerText__fd_nF{
    margin: 0;
    margin-left: 46px;
    margin-bottom: 17px;
    font-size: 32px;
    font-weight: 400;
    color: #d9d9d9;
}

.user_horizontalLine__t5or8{
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #d9d9d9;
    background-color: #D9D9D9;
    height: 0;
    margin: 0;
    margin-bottom: 21px;
    padding: 0;
}

.user_main__TuGIc{
    display: flex;
    justify-content: space-between;
    margin-bottom: 154px;
}

.user_leftContent__M_oQj{
    margin-left: 14px;
}

.user_leftText__Gg0Vh{
    margin: 0;
    margin-bottom: 10px;
}

.user_leftText__Gg0Vh:last-child{
    margin-bottom: 0;
}

.user_rightContent__fRtO2{
    text-align: right;
    margin-right: 19px;
}

.user_rightText__z_3HJ{
    margin: 0;
    margin-bottom: 10px;
}

.user_rightText__z_3HJ:last-child{
    margin-bottom: 0;
}

.user_footer__p4P2M{
    display: flex;
    justify-content: space-around;
}
    
.user_saveBtn__kU8sC{
    width: 373px;
    height: 62px;
    background-color: #D9D9D9;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: #595962;
    box-shadow: 1px 4px 4px 0 #46475c;
    border-radius: 12px;
    transform: translate(-40%,200%);

}
.user_footerBtn__pTe_j{
    width: 282px;
    height: 62px;
    background-color: #D9D9D9;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: #595962;
    box-shadow: 1px 4px 4px 0 #46475c;
    border-radius: 12px;
    transform: translate(-67%,200%);
}

.user_footerBtn__pTe_j:hover{
    box-shadow: inset 1px 4px 4px 0 rgba(70, 71, 92, 0.8), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #d9d9d9;
}

.user_footerBtn__pTe_j:active{
    box-shadow: inset 4px 6px 14px -2px #46475c;
    background: #d9d9d9;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/styles/leaderBoard.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/

.leaderBoard_container__u29Fy{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    width: 1265px;
    height: 815px;
    background: rgba(70, 71, 92, 0.9);
    margin: 0 auto;
}



.leaderBoard_closeBtn__yBsqy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff00;
    position: absolute;
    top: 30px;
    right: 40px;
    border: none;
    box-shadow: none;
}

.leaderBoard_containerTitle__s_G5Z{
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #d9d9d9;
    margin: 0;
    margin-bottom: 35px;
    margin-top: 60px;
}

.leaderBoard_username__IiXSi{
    color: #d9d9d9;
    font-size: 32px;
    font-weight: 600;
    margin-right: 10px;
    
}

.leaderBoard_userscore__DAnyf{
    font-size: 32px;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.leaderBoard_containerList__k40iU{
    display: flex;
    flex-flow: column wrap;
    max-height: 600px;
    min-width: fit-content;
}


.leaderBoard_containerList__k40iU li{
    display: flex;
    padding-left: 95px;
    align-items: center;
    margin-bottom: 50px;
    margin-right: 175px;
    margin-left: 10px;
    counter-increment: schetchik;
    
    
}

.leaderBoard_containerList__k40iU li::before{
   content: counter(schetchik);
   position: absolute;
   margin-left: -70px;
   font-size: 32px;
}

.leaderBoard_hrLine__jdsGa{
    position: absolute;
    width: 0;
    height: 571px;
    color: #d9d9d9;
    top: 153px;
    left: 632px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/styles/setting.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.setting_main__N7ljR {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 700px;
   height: 815px;
}

.setting_background__t3czM {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   border-radius: 25px;
   width: 610px;
   height: 815px;
   box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.25);
   background: rgba(70, 71, 92, 0.9);
   margin: 0 auto;
   align-items: center;
}

.setting_h2__mkqvm {
   width: 500px;
   height: 23px;
   font-weight: 700;
   font-size: 48px;
   text-align: center;
   color: #d9d9d9;
   margin: 60px 0 79px 0;
}

.setting_content__fhmkg {
   width: 500px;
   height: 70px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}

.setting_Link__4Wjc_ {
   font-weight: 600;
   font-size: 32px;
   text-align: center;
   color: #d9d9d9;
   text-decoration: none;
   margin-left: 5px;
}

.setting_image__MPGFj {
   margin-right: 5px;
   width: 50px;
   height: 50px;
}

.setting_span___j7eu {
   font-weight: 600;
   font-size: 32px;
   text-align: center;
   color: #d9d9d9;
}

.setting_setting__k6eaQ {
   display: flex;
}

.setting_btncontainer__oopdx {
	margin-top: 320px;
   justify-content: flex-end;
   align-items: flex-end;
}

.setting_btn__xNnNC {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 11px;
   width: 191px;
   height: 57px;
   box-shadow: 1px 4px 4px 0 #46475c;
   background: #d9d9d9;
   font-weight: 600;
   font-size: 32px;
   text-align: center;
   color: #595962;
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/styles/logout.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.logout_m__wM3tc {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 700px;
   height: 904px;
}

.logout_main__PdFeh {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   width: 700px;
   height: 240px;
   border-radius: 25px;
   box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.25);
   background: rgba(70, 71, 92, 0.9);
}

.logout_h2__jBRWu {
   width: 320px;
   height: 120px;
   font-weight: 600;
   font-size: 32px;
   text-align: center;
   color: #d9d9d9;
   margin-top: 40px;
}

.logout_btnContainer__pOAWd {
   width: 700px;
   height: 120px;
   display: flex;
   justify-content: space-around;
   margin-bottom: 20px;
}

.logout_btn__XrHu9 {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   border-radius: 10px;
   width: 100px;
   height: 50px;
   box-shadow: 1px 4px 4px 0 #46475c;
   background: #d9d9d9;
}

.logout_btn__XrHu9:hover {
   box-shadow: inset 1px 4px 4px 0 rgba(70, 71, 92, 0.8),
      0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.logout_btn__XrHu9:active {
   box-shadow: inset 4px 6px 14px -2px #46475c;
}

.logout_img__Z2axa {
   width: 35px;
   height: 35px;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/styles/burger-menu.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.burger-menu_burgerMenu__y4VyG{
    position: fixed;
    width: 88px;
    height: 100vh;
    background-color: #3C2847A8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
}
.burger-menu_modal__O_yd0:focus-visible{
    outline: none;
}
.burger-menu_burgerLogo__axvYF{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 41px;
}

.burger-menu_burgerBtn__8SSL8{
    width: 35px;
    height: 35px;
    margin-bottom: 15px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
.burger-menu_burgerBtn__8SSL8:focus-visible{
    outline: none;
}

.burger-menu_burgerBtn__8SSL8:nth-child(2){
    background-image: url(/_next/static/media/setting.c70bed9b.svg);
         
}

.burger-menu_burgerBtn__8SSL8:nth-child(3){
    background-image: url(/_next/static/media/leaderBoard.e449c148.svg);
         
}

.burger-menu_burgerBtn__8SSL8:nth-child(4){
    background-image: url(/_next/static/media/userIcon.cb8bdc19.svg);
           
}
.burger-menu_burgerBtn__8SSL8:nth-child(5){
    background-image: url(/_next/static/media/exit.af6ae18b.svg);
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px; 
    
}

.burger-menu_burgerMenuOpen__EGt0G{
    position: fixed;
    width: 265px;
    height: 100vh;
    background-color: #3C2847A8;
    display: flex;
    flex-direction: column;
    padding-left: 18px;
    padding-top: 8px;
}

.burger-menu_burgerLogo__axvYF{
    width: 102px;
    height: 98.4px;
    border-radius: 10px;
    margin-bottom: 29px;
}

.burger-menu_burgerBtn__8SSL8{
    width: 35px;
    height: 35px;
    margin-bottom: 15px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
}
/* 
.burgerBtn:nth-child(2){
    background-image: url(../../img/burgerMenuIcons/burgbtn.svg);

    width: 50px;
    height: 50px;
    margin-bottom: 25px;        
}

.burgerBtn:nth-child(3){
    background-image: url(../../img/burgerMenuIcons/setting.svg);
         
}

.burgerBtn:nth-child(4){
    background-image: url(../../img/burgerMenuIcons/leaderBoard.svg);
         
}

.burgerBtn:nth-child(5){
    background-image: url(../../img/burgerMenuIcons/userIcon.svg);
           
}
.burgerBtn:nth-child(6){
    background-image: url(../../img/burgerMenuIcons/exit.svg);
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px; 
    
} */
