.margin {
   margin-bottom: 29px;
}

.main {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.logo {
   margin: 94px 0 80px 0;
}

.background {
   position: relative;
   border-radius: 30px;
   width: 700px;
   height: 463px;
   background: rgba(72, 62, 89, 0.66);
   margin: 0 auto;
   align-items: center;
}

.h2 {
   width: 193px;
   height: 23px;
   margin: 38px 0 68px 250px;
   font-weight: 600;
   font-size: 32px;
   text-align: center;
   color: #d9d9d9;
}

.regError {
   position: absolute;
   top: 80px;
   left: 200px;
   margin: 0;
   width: 320px;
   height: 27px;
   font-weight: 400;
   font-size: 14px;
   text-align: center;
   line-height: 20px;
   color: #f00;
}

.inputGroup {
   width: 380px;
   height: 50px;
   margin-left: 177px;
   position: relative;
   text-align: center;
}

.inputLabel {
   height: 30px;
   left: 20px;
   top: -21px;
   position: absolute;
   font-weight: 700;
   font-size: 14px;
   text-align: center;
   color: #d9d9d9;
   backdrop-filter: blur(5px);
   cursor: pointer;
}

.validation {
   position: absolute;
   left: 215px;
   top: -32px;
   font-weight: 400;
   font-size: 14px;
   text-align: center;
   color: #f00;
}

.input {
   padding-left: 20px;
   line-height: 1;
   border-style: none;
   outline: none;
   border: 1px solid #7f8798;
   border-radius: 5px;
   width: 345px;
   height: 50px;
   background: rgba(217, 217, 217, 0);
   color: white;
   font-size: 16px;
   background-image: rgba(217, 217, 217, 0);
   background-origin: border-box;
   background-clip: padding-box, border-box;
}
.errorInput {
   border: 1px solid #f00;
}

.errorLabal {
   color: #f00;
}

.register {
   width: 320px;
   height: 13px;
   font-weight: 500;
   font-size: 18px;
   text-align: center;
   color: #d9d9d9;
   margin: 21px 0 30px 203px;
}

.registerLink {
   font-weight: 500;
   font-size: 18px;
   text-decoration: underline;
   text-decoration-skip-ink: none;
}

.btn {
   margin: 0 0 0 180px;
}

.showPasswordIcon {
   position: absolute;
   top: 15px;
   left: 330px;
   background: url(./../../icon/showPassword.svg);
   display: inline-block;
   width: 25px;
   height: 25px;
}


.forgott {
   margin-left: 282px;
   font-weight: 500;
   font-size: 18px;
   text-align: center;
   color: #000;
   backdrop-filter: blur(4px);
   text-decoration: none;
}
.showPasswordIcon{
   position: absolute;
   top: 15px;
   left: 330px;
   background: url(./../../icon/showPassword.svg);
   display: inline-block;
   width: 25px;
   height: 25px;
}