.container{
    width: 700px;
    height: 904px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    background-color: rgba(70, 71, 92, 0.9);
    margin: 0 auto;
    padding: 0;
    padding-bottom: 73px;
}

.closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff00;
    transform: translate(1565%, 135%);
    border: none;
    box-shadow: none;
}

.main__logo{
    width: 200px;
    height: 200px;
    border-radius: 21px;
    margin: 0 auto;
    margin-top: 45px;
    
}

.header__title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: #d9d9d9;
    margin-right: 12px;
}

.title:last-child{
    margin-right: 0;
}

.headerText{
    margin: 0;
    margin-left: 46px;
    margin-bottom: 17px;
    font-size: 32px;
    font-weight: 400;
    color: #d9d9d9;
}

.horizontalLine{
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #d9d9d9;
    background-color: #D9D9D9;
    height: 0;
    margin: 0;
    margin-bottom: 21px;
    padding: 0;
}

.main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 154px;
}

.leftContent{
    margin-left: 14px;
}

.leftText{
    margin: 0;
    margin-bottom: 10px;
}

.leftText:last-child{
    margin-bottom: 0;
}

.rightContent{
    text-align: right;
    margin-right: 19px;
}

.rightText{
    margin: 0;
    margin-bottom: 10px;
}

.rightText:last-child{
    margin-bottom: 0;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.footerBtn{
    width: 373px;
    height: 62px;
    background-color: #D9D9D9;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: #595962;
    box-shadow: 1px 4px 4px 0 #46475c;
    border-radius: 12px;
}

.footerBtn:hover{
    box-shadow: inset 1px 4px 4px 0 rgba(70, 71, 92, 0.8), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #d9d9d9;
}

.footerBtn:active{
    box-shadow: inset 4px 6px 14px -2px #46475c;
    background: #d9d9d9;
}